In [97]:
!pwd
%cd /home/ubuntu/Berend_Gort

/home/ubuntu/Berend_Gort
/home/ubuntu/Berend_Gort

In [98]:
%run imports.py

%cat imports.py

import pandas as pd
import numpy as np

In [99]:
%store -r pokemon_df

In [100]:
pokemon_df

,Name,Type_1,Type_2,Total,HP,Attack,Defense,Sp_Atk,Sp_Def,Speed,Stage,Legendary,Predicted_Total,HighStage,Predicted_HighStage,Predicted_Sp_Atk,Predicted Attack
#,,,,,,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,324.106080,0,0,55.128073,54.613327
2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,2,False,379.490966,1,1,75.515800,68.283350
3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,3,False,458.770366,1,1,99.375597,87.151409
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,314.442383,0,0,52.095862,52.372977
5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,2,False,375.028057,1,1,73.214095,66.327217
6,Charizard,Fire,Flying,534,78,84,78,109,85,100,3,False,454.307457,1,1,97.073893,83.525827
7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False,336.068725,0,0,57.759609,64.221564
8,Wartortle,Water,NaN,405,59,63,80,65,80,58,2,False,395.528275,1,1,78.284427,78.615176
9,Blastoise,Water,NaN,530,79,83,100,85,105,78,3,False,474.807675,1,1,104.309143,98.696074
10,Caterpie,Bug,NaN,195,45,30,35,20,20,45,1,False,281.180896,0,0,37.480416,45.310721
11,Metapod,Bug,NaN,205,50,20,55,25,25,30,2,False,291.520104,1,1,51.210410,52.790228
12,Butterfree,Bug,Flying,395,60,45,50,90,80,70,3,False,340.640447,1,0,88.802960,62.401544
13,Weedle,Bug,Poison,195,40,35,30,20,20,50,1,False,277.050072,0,0,36.273761,43.105486
14,Kakuna,Bug,Poison,205,45,25,50,25,25,35,2,False,287.389279,1,0,50.003755,50.584994
15,Beedrill,Bug,Poison,395,65,90,40,45,80,75,3,False,409.163502,1,1,76.909646,67.965117
16,Pidgey,Normal,Flying,251,40,45,40,35,35,56,1,False,302.107694,0,0,44.146790,50.107649
17,Pidgeotto,Normal,Flying,349,63,60,55,50,50,71,2,False,373.232906,1,1,64.754158,65.720029
18,Pidgeot,Normal,Flying,479,83,80,75,70,70,101,3,False,452.512306,1,1,91.572454,86.814500
19,Rattata,Normal,NaN,253,30,56,35,25,35,72,1,False,300.099246,0,0,44.335010,51.293077
20,Raticate,Normal,NaN,413,55,81,60,50,70,97,2,False,399.198496,1,1,76.292608,77.303829
21,Spearow,Normal,Flying,262,40,60,30,31,31,70,1,False,316.272635,0,0,40.548309,48.186120
22,Fearow,Normal,Flying,442,65,90,65,61,61,100,2,False,432.584995,1,1,72.704465,77.979980
23,Ekans,Poison,NaN,288,35,60,44,40,54,55,1,False,322.097632,0,0,48.778372,54.577076
24,Arbok,Poison,NaN,438,60,85,69,65,79,80,2,False,421.196882,1,1,76.406133,78.162149
25,Pikachu,Electric,NaN,320,35,55,40,50,50,90,1,False,310.505681,0,0,57.816125,57.620220
26,Raichu,Electric,NaN,485,60,90,55,90,80,110,2,False,415.925359,1,0,81.402165,73.712300
27,Sandshrew,Ground,NaN,300,50,75,85,20,30,40,1,False,405.915534,0,1,39.950133,71.587588
28,Sandslash,Ground,NaN,450,75,100,110,45,55,65,2,False,505.014784,1,1,67.577894,95.172661
29,NidoranªÛ,Poison,NaN,275,55,47,52,40,40,41,1,False,338.360932,0,0,44.926503,55.565656
30,Nidorina,Poison,NaN,365,70,62,67,55,55,56,2,False,397.820482,1,1,65.018337,69.716701
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122,Mr. Mime,Psychic,Fairy,460,40,45,65,100,120,90,1,False,325.529187,0,0,96.422510,78.264120
123,Scyther,Bug,Flying,500,70,110,80,55,80,105,1,False,485.306980,0,1,72.068378,92.943594
124,Jynx,Ice,Psychic,455,65,50,35,115,95,95,1,False,341.723103,0,0,80.911310,60.666752
125,Electabuzz,Electric,NaN,490,65,83,57,95,85,105,1,False,414.107800,0,1,75.848633,74.759838
126,Magmar,Fire,NaN,495,65,95,57,100,85,93,1,False,432.934630,0,1,69.223904,71.160672
127,Pinsir,Bug,NaN,500,65,125,100,55,70,85,1,False,520.286673,0,0,61.986734,94.772180
128,Tauros,Normal,NaN,490,75,100,95,40,70,110,1,False,490.961889,0,0,75.350030,102.542189
129,Magikarp,Water,NaN,200,20,10,55,15,20,80,1,False,232.084845,0,0,55.678900,59.084386
130,Gyarados,Water,Flying,540,95,125,79,60,100,81,2,False,544.358852,1,1,79.966950,95.609742
131,Lapras,Water,Ice,535,130,85,80,85,95,60,1,False,533.576883,0,0,75.521667,91.958443
132,Ditto,Normal,NaN,288,48,48,48,48,48,48,1,False,325.974941,0,0,48.887907,54.377980
133,Eevee,Normal,NaN,325,55,55,50,45,65,55,1,False,349.038433,0,0,57.410252,62.857317
134,Vaporeon,Water,NaN,525,130,65,60,110,95,65,2,False,483.461638,1,1,86.582513,78.813867
135,Jolteon,Electric,NaN,525,65,65,60,110,95,130,2,False,388.678133,1,1,101.624041,81.412197
136,Flareon,Fire,NaN,525,65,130,60,95,110,65,2,False,490.656798,1,1,72.234846,73.361449
137,Porygon,Normal,NaN,395,65,60,70,85,75,40,1,False,390.202217,0,1,60.996269,65.970697
138,Omanyte,Rock,Water,355,35,40,100,90,55,35,1,False,343.183724,0,0,60.544154,68.029289
139,Omastar,Rock,Water,495,70,60,125,115,70,55,2,False,449.020540,1,1,84.288300,89.902147
140,Kabuto,Rock,Water,355,30,80,90,55,45,55,1,False,389.280190,0,0,49.395389,70.825190
141,Kabutops,Rock,Water,495,60,115,105,65,70,80,2,False,501.990907,1,1,72.617968,93.295801
142,Aerodactyl,Rock,Flying,515,80,105,65,60,75,130,1,False,477.991649,0,1,75.977256,90.980666
143,Snorlax,Normal,NaN,540,160,110,65,65,110,30,1,False,602.492784,0,1,65.420984,90.892300
144,Articuno,Ice,Flying,580,90,85,100,95,125,85,1,True,493.985766,0,1,97.660320,105.260313
145,Zapdos,Electric,Flying,580,90,90,85,125,90,100,1,True,487.777383,0,1,82.414660,87.329909
146,Moltres,Fire,Flying,580,90,100,90,125,85,90,1,True,508.150707,0,1,75.811774,86.295763
147,Dratini,Dragon,NaN,300,41,64,45,50,50,50,1,False,338.059349,0,0,45.145523,52.215678
148,Dragonair,Dragon,NaN,420,61,84,65,70,70,70,2,False,417.338749,1,1,69.005320,71.083736
149,Dragonite,Dragon,Flying,600,91,134,95,100,100,80,3,False,567.635899,1,1,89.359829,94.933000
150,Mewtwo,Psychic,NaN,680,106,110,90,154,90,130,1,True,547.171057,0,0,88.279649,93.957588
151,Mew,Psychic,NaN,600,100,100,100,100,100,100,1,False,532.101382,0,0,88.074729,103.434933

In [101]:
%store -r titanic_df

In [102]:
titanic_df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,NaN,S
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
864,865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,NaN,S
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S
866,867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S
870,871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,NaN,S
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,S
877,878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [103]:
%store -r iris

no stored variable iris

#### Train/test split

In [104]:
X_train, X_test, y_train, y_test = model_selection.train_test_split(
    pokemon_df.drop('HighStage',axis=1), 
    pokemon_df['HighStage'], 
    test_size=0.2, 
    random_state=2020)

In [105]:
X_train

,Name,Type_1,Type_2,Total,HP,Attack,Defense,Sp_Atk,Sp_Def,Speed,Stage,Legendary,Predicted_Total,Predicted_HighStage,Predicted_Sp_Atk,Predicted Attack
#,,,,,,,,,,,,,,,,
52,Meowth,Normal,NaN,290,40,45,35,40,40,90,1,False,297.423396,0,55.287965,55.557713
44,Gloom,Grass,Poison,395,60,65,70,85,75,40,2,False,390.755691,1,68.180948,65.057362
8,Wartortle,Water,NaN,405,59,63,80,65,80,58,2,False,395.528275,1,78.284427,78.615176
18,Pidgeot,Normal,Flying,479,83,80,75,70,70,101,3,False,452.512306,1,91.572454,86.814500
90,Shellder,Water,NaN,305,30,65,100,45,25,40,1,False,375.115249,0,42.306410,69.299369
35,Clefairy,Fairy,NaN,323,70,45,48,60,65,35,1,False,353.348805,0,54.588933,57.400039
136,Flareon,Fire,NaN,525,65,130,60,95,110,65,2,False,490.656798,1,72.234846,73.361449
62,Poliwrath,Water,Fighting,510,90,95,95,70,90,70,3,False,504.990493,0,91.999275,95.663071
36,Clefable,Fairy,NaN,483,95,70,73,95,90,60,2,False,452.448055,1,82.216694,79.130169
139,Omastar,Rock,Water,495,70,60,125,115,70,55,2,False,449.020540,1,84.288300,89.902147
28,Sandslash,Ground,NaN,450,75,100,110,45,55,65,2,False,505.014784,1,67.577894,95.172661
117,Seadra,Water,NaN,440,55,65,95,95,45,85,2,False,406.886145,1,73.595677,77.056434
151,Mew,Psychic,NaN,600,100,100,100,100,100,100,1,False,532.101382,0,88.074729,103.434933
19,Rattata,Normal,NaN,253,30,56,35,25,35,72,1,False,300.099246,0,44.335010,51.293077
106,Hitmonlee,Fighting,NaN,455,50,120,53,35,110,87,1,False,446.536638,1,70.035386,83.282063
122,Mr. Mime,Psychic,Fairy,460,40,45,65,100,120,90,1,False,325.529187,0,96.422510,78.264120
54,Psyduck,Water,NaN,320,50,52,48,65,50,55,1,False,335.166967,0,50.928864,53.633535
78,Rapidash,Fire,NaN,500,65,100,70,80,80,105,2,False,452.958319,1,80.930938,82.582689
88,Grimer,Poison,NaN,325,80,80,50,40,50,25,1,False,424.716191,0,37.245771,58.033706
71,Victreebel,Grass,Poison,490,80,105,65,100,70,70,3,False,477.991649,1,73.637228,68.989579
45,Vileplume,Grass,Poison,490,75,80,85,110,90,50,3,False,450.215241,1,86.793532,76.240257
120,Staryu,Water,NaN,340,30,45,55,70,55,85,1,False,301.578512,0,63.989617,60.311950
82,Magneton,Electric,Steel,465,50,60,95,120,70,70,2,False,391.750593,1,80.941368,74.230320
37,Vulpix,Fire,NaN,299,38,41,40,50,65,65,1,False,292.915668,0,60.694912,56.240708
58,Growlithe,Fire,NaN,350,55,70,45,70,50,60,1,False,367.887673,0,47.468941,53.289541
94,Gengar,Ghost,Poison,500,60,65,60,130,75,110,3,False,381.387094,1,95.513101,67.484794
116,Horsea,Water,NaN,295,30,40,70,70,25,60,1,False,307.786895,0,48.132835,54.684200
96,Drowzee,Psychic,NaN,328,60,48,45,43,90,42,1,False,340.662856,0,65.421842,64.906395
16,Pidgey,Normal,Flying,251,40,45,40,35,35,56,1,False,302.107694,0,44.146790,50.107649
127,Pinsir,Bug,NaN,500,65,125,100,55,70,85,1,False,520.286673,0,61.986734,94.772180
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129,Magikarp,Water,NaN,200,20,10,55,15,20,80,1,False,232.084845,0,55.678900,59.084386
64,Kadabra,Psychic,NaN,400,40,35,30,120,70,105,2,False,277.050072,0,82.982636,48.929716
23,Ekans,Poison,NaN,288,35,60,44,40,54,55,1,False,322.097632,0,48.778372,54.577076
135,Jolteon,Electric,NaN,525,65,65,60,110,95,130,2,False,388.678133,1,101.624041,81.412197
7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False,336.068725,0,57.759609,64.221564
91,Cloyster,Water,Ice,525,50,95,180,85,45,70,2,False,526.295256,1,79.554289,115.545226
30,Nidorina,Poison,NaN,365,70,62,67,55,55,56,2,False,397.820482,1,65.018337,69.716701
22,Fearow,Normal,Flying,442,65,90,65,61,61,100,2,False,432.584995,1,72.704465,77.979980
63,Abra,Psychic,NaN,310,25,20,15,105,55,90,1,False,217.590522,0,62.890802,34.778672
74,Geodude,Rock,Ground,300,40,80,100,30,30,20,1,False,413.230865,0,35.355586,70.668468
150,Mewtwo,Psychic,NaN,680,106,110,90,154,90,130,1,True,547.171057,0,88.279649,93.957588
80,Slowbro,Water,Psychic,490,95,75,110,100,80,30,2,False,494.956376,1,75.741848,86.895565
130,Gyarados,Water,Flying,540,95,125,79,60,100,81,2,False,544.358852,1,79.966950,95.609742
39,Jigglypuff,Normal,Fairy,270,115,45,20,45,25,20,1,False,392.736083,0,29.668925,41.891539
143,Snorlax,Normal,NaN,540,160,110,65,65,110,30,1,False,602.492784,1,65.420984,90.892300
70,Weepinbell,Grass,Poison,390,65,90,50,85,45,55,2,False,418.532099,1,49.215557,52.412856
103,Exeggutor,Grass,Psychic,520,95,95,85,125,65,55,2,False,502.912935,1,66.105917,72.160191
115,Kangaskhan,Normal,NaN,490,105,95,80,40,80,90,1,False,512.810714,1,73.729255,98.779733
56,Mankey,Fighting,NaN,305,40,80,35,35,45,70,1,False,352.334984,0,42.568504,53.245199
140,Kabuto,Rock,Water,355,30,80,90,55,45,55,1,False,389.280190,0,49.395389,70.825190
10,Caterpie,Bug,NaN,195,45,30,35,20,20,45,1,False,281.180896,0,37.480416,45.310721
49,Venomoth,Bug,Poison,450,70,65,60,90,75,90,2,False,395.969172,1,81.452579,72.278411
72,Tentacool,Water,Poison,335,40,40,35,50,100,70,1,False,289.578883,0,76.631046,63.804017
132,Ditto,Normal,NaN,288,48,48,48,48,48,48,1,False,325.974941,0,48.887907,54.377980
126,Magmar,Fire,NaN,495,65,95,57,100,85,93,1,False,432.934630,1,69.223904,71.160672
92,Gastly,Ghost,Poison,310,30,35,30,100,35,80,1,False,262.467994,0,50.999597,36.757027
119,Seaking,Water,NaN,450,80,92,65,65,80,68,2,False,457.595917,1,71.918164,77.462276
68,Machamp,Fighting,NaN,505,90,130,80,65,85,55,3,False,545.849186,1,73.181304,84.822767
137,Porygon,Normal,NaN,395,65,60,70,85,75,40,1,False,390.202217,1,60.996269,65.970697
97,Hypno,Psychic,NaN,483,85,73,70,73,115,67,2,False,439.762106,1,93.049602,87.563997

In [106]:
X_test

,Name,Type_1,Type_2,Total,HP,Attack,Defense,Sp_Atk,Sp_Def,Speed,Stage,Legendary,Predicted_Total,Predicted_HighStage,Predicted_Sp_Atk,Predicted Attack
#,,,,,,,,,,,,,,,,
41,Zubat,Poison,Flying,245,40,45,35,30,40,55,1,False,297.423396,0,44.933218,49.620213
9,Blastoise,Water,NaN,530,79,83,100,85,105,78,3,False,474.807675,1,104.309143,98.696074
134,Vaporeon,Water,NaN,525,130,65,60,110,95,65,2,False,483.461638,1,86.582513,78.813867
144,Articuno,Ice,Flying,580,90,85,100,95,125,85,1,True,493.985766,1,97.660320,105.260313
93,Haunter,Ghost,Poison,405,45,50,45,115,55,95,2,False,321.927544,0,73.256349,52.120910
55,Golduck,Water,NaN,500,80,82,78,95,80,85,2,False,454.086067,1,82.324588,81.935623
113,Chansey,Normal,NaN,450,250,5,5,35,105,50,1,False,512.785135,0,88.883275,87.275869
100,Voltorb,Electric,NaN,330,40,30,50,55,55,100,1,False,287.942753,0,71.832306,65.855547
24,Arbok,Poison,NaN,438,60,85,69,65,79,80,2,False,421.196882,1,76.406133,78.162149
42,Golbat,Poison,Flying,455,75,80,70,65,75,90,2,False,436.162346,1,80.096906,82.639316
29,NidoranªÛ,Poison,NaN,275,55,47,52,40,40,41,1,False,338.360932,0,44.926503,55.565656
46,Paras,Bug,Grass,285,35,70,55,45,55,25,1,False,348.092114,0,40.155560,52.504168
50,Diglett,Ground,NaN,265,10,55,25,35,45,95,1,False,259.997591,0,52.271489,48.521010
32,Nidoranªâ,Poison,NaN,273,46,57,40,40,40,50,1,False,329.683771,0,41.848729,50.153171
118,Goldeen,Water,NaN,320,45,67,60,35,50,63,1,False,362.651783,0,51.728629,65.838414
5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,2,False,375.028057,1,73.214095,66.327217
108,Lickitung,Normal,NaN,385,90,55,75,60,75,30,1,False,423.497197,1,62.012509,75.353422
112,Rhydon,Ground,Rock,485,105,130,120,45,45,40,2,False,605.196690,1,52.264017,97.471171
89,Muk,Poison,NaN,500,105,105,75,65,100,50,2,False,523.815441,1,75.698126,87.682977
107,Hitmonchan,Fighting,NaN,455,50,105,79,35,110,76,1,False,447.361452,1,76.253934,93.339560
3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,3,False,458.770366,1,99.375597,87.151409
57,Primeape,Fighting,NaN,455,65,105,60,60,70,95,2,False,451.434234,1,70.196265,76.830273
149,Dragonite,Dragon,Flying,600,91,134,95,100,100,80,3,False,567.635899,1,89.359829,94.933000
12,Butterfree,Bug,Flying,395,60,45,50,90,80,70,3,False,340.640447,0,88.802960,62.401544
102,Exeggcute,Grass,Psychic,325,60,40,80,60,45,40,1,False,360.901725,0,54.974047,67.227896
121,Starmie,Water,Psychic,520,60,75,85,100,85,115,2,False,420.497612,1,95.385342,88.614038
128,Tauros,Normal,NaN,490,75,100,95,40,70,110,1,False,490.961889,0,75.350030,102.542189
77,Ponyta,Fire,NaN,410,50,85,55,65,65,90,1,False,393.498769,1,60.839105,68.431645
86,Seel,Water,NaN,325,65,45,55,45,70,45,1,False,352.615784,0,60.905840,66.075519
79,Slowpoke,Water,Psychic,315,90,65,65,40,40,15,1,False,429.817626,1,37.692939,62.423602
87,Dewgong,Water,Ice,475,90,70,80,70,95,70,2,False,451.715034,1,88.533601,89.660592

In [107]:
X_test.shape

(31, 16)

In [108]:
y_train

#
52     0
44     1
8      1
18     1
90     0
35     0
136    1
62     1
36     1
139    1
28     1
117    1
151    0
19     0
106    0
122    0
54     0
78     1
88     0
71     1
45     1
120    0
82     1
37     0
58     0
94     1
116    0
96     0
16     0
127    0
      ..
129    0
64     1
23     0
135    1
7      0
91     1
30     1
22     1
63     0
74     0
150    0
80     1
130    1
39     0
143    0
70     1
103    1
115    0
56     0
140    0
10     0
49     1
72     0
132    0
126    0
92     0
119    1
68     1
137    0
97     1
Name: HighStage, Length: 120, dtype: int64

In [109]:
y_test

#
41     0
9      1
134    1
144    0
93     1
55     1
113    0
100    0
24     1
42     1
29     0
46     0
50     0
32     0
118    0
5      1
108    0
112    1
89     1
107    0
3      1
57     1
149    1
12     1
102    0
121    1
128    0
77     0
86     0
79     0
87     1
Name: HighStage, dtype: int64

#### Exercise 2.1: Perform train/test split for titanic data

In [110]:
titanic_df = pd.read_csv('titanic.csv')
titanic_df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,NaN,S
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
864,865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,NaN,S
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S
866,867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S
870,871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,NaN,S
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,S
877,878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [111]:
X_train, X_test, y_train, y_test = model_selection.train_test_split(
    titanic_df.drop('Survived',axis=1), 
    titanic_df['Survived'], 
    test_size=0.2, 
    random_state=2020)

In [112]:
X_train

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
131,132,3,"Coelho, Mr. Domingos Fernandeo",male,20.0,0,0,SOTON/O.Q. 3101307,7.0500,NaN,S
70,71,2,"Jenkin, Mr. Stephen Curnow",male,32.0,0,0,C.A. 33111,10.5000,NaN,S
781,782,1,"Dick, Mrs. Albert Adrian (Vera Gillespie)",female,17.0,1,0,17474,57.0000,B20,S
508,509,3,"Olsen, Mr. Henry Margido",male,28.0,0,0,C 4001,22.5250,NaN,S
116,117,3,"Connors, Mr. Patrick",male,70.5,0,0,370369,7.7500,NaN,Q
858,859,3,"Baclini, Mrs. Solomon (Latifa Qurban)",female,24.0,0,3,2666,19.2583,NaN,C
194,195,1,"Brown, Mrs. James Joseph (Margaret Tobin)",female,44.0,0,0,PC 17610,27.7208,B4,C
692,693,3,"Lam, Mr. Ali",male,NaN,0,0,1601,56.4958,NaN,S
229,230,3,"Lefebre, Miss. Mathilde",female,NaN,3,1,4133,25.4667,NaN,S
739,740,3,"Nankoff, Mr. Minko",male,NaN,0,0,349218,7.8958,NaN,S
146,147,3,"Andersson, Mr. August Edvard (""Wennerstrom"")",male,27.0,0,0,350043,7.7958,NaN,S
524,525,3,"Kassem, Mr. Fared",male,NaN,0,0,2700,7.2292,NaN,C
352,353,3,"Elias, Mr. Tannous",male,15.0,1,1,2695,7.2292,NaN,C
446,447,2,"Mellinger, Miss. Madeleine Violet",female,13.0,0,1,250644,19.5000,NaN,S
188,189,3,"Bourke, Mr. John",male,40.0,1,1,364849,15.5000,NaN,Q
207,208,3,"Albimona, Mr. Nassef Cassem",male,26.0,0,0,2699,18.7875,NaN,C
435,436,1,"Carter, Miss. Lucile Polk",female,14.0,1,2,113760,120.0000,B96 B98,S
213,214,2,"Givard, Mr. Hans Kristensen",male,30.0,0,0,250646,13.0000,NaN,S
351,352,1,"Williams-Lambert, Mr. Fletcher Fellows",male,NaN,0,0,113510,35.0000,C128,S
779,780,1,"Robert, Mrs. Edward Scott (Elisabeth Walton Mc...",female,43.0,0,1,24160,211.3375,B3,S
686,687,3,"Panula, Mr. Jaako Arnold",male,14.0,4,1,3101295,39.6875,NaN,S
868,869,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S
167,168,3,"Skoog, Mrs. William (Anna Bernhardina Karlsson)",female,45.0,1,4,347088,27.9000,NaN,S
437,438,2,"Richards, Mrs. Sidney (Emily Hocking)",female,24.0,2,3,29106,18.7500,NaN,S
240,241,3,"Zabour, Miss. Thamine",female,NaN,1,0,2665,14.4542,NaN,C
28,29,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
612,613,3,"Murphy, Miss. Margaret Jane",female,NaN,1,0,367230,15.5000,NaN,Q
609,610,1,"Shutes, Miss. Elizabeth W",female,40.0,0,0,PC 17582,153.4625,C125,S
681,682,1,"Hassab, Mr. Hammad",male,27.0,0,0,PC 17572,76.7292,D49,C
481,482,2,"Frost, Mr. Anthony Wood ""Archie""",male,NaN,0,0,239854,0.0000,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
841,842,2,"Mudd, Mr. Thomas Charles",male,16.0,0,0,S.O./P.P. 3,10.5000,NaN,S
458,459,2,"Toomey, Miss. Ellen",female,50.0,0,0,F.C.C. 13531,10.5000,NaN,S
871,872,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
79,80,3,"Dowdell, Miss. Elizabeth",female,30.0,0,0,364516,12.4750,NaN,S
705,706,2,"Morley, Mr. Henry Samuel (""Mr Henry Marshall"")",male,39.0,0,0,250655,26.0000,NaN,S
806,807,1,"Andrews, Mr. Thomas Jr",male,39.0,0,0,112050,0.0000,A36,S
136,137,1,"Newsom, Miss. Helen Monypeny",female,19.0,0,2,11752,26.2833,D47,S
148,149,2,"Navratil, Mr. Michel (""Louis M Hoffman"")",male,36.5,0,2,230080,26.0000,F2,S
156,157,3,"Gilnagh, Miss. Katherine ""Katie""",female,16.0,0,0,35851,7.7333,NaN,Q
880,881,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
325,326,1,"Young, Miss. Marie Grice",female,36.0,0,0,PC 17760,135.6333,C32,C
870,871,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,NaN,S
195,196,1,"Lurette, Miss. Elise",female,58.0,0,0,PC 17569,146.5208,B80,C
626,627,2,"Kirkland, Rev. Charles Leonard",male,57.0,0,0,219533,12.3500,NaN,Q
55,56,1,"Woolner, Mr. Hugh",male,NaN,0,0,19947,35.5000,C52,S
139,140,1,"Giglio, Mr. Victor",male,24.0,0,0,PC 17593,79.2000,B86,C
691,692,3,"Karun, Miss. Manca",female,4.0,0,1,349256,13.4167,NaN,C
777,778,3,"Emanuel, Miss. Virginia Ethel",female,5.0,0,0,364516,12.4750,NaN,S
160,161,3,"Cribb, Mr. John Hatfield",male,44.0,0,1,371362,16.1000,NaN,S
560,561,3,"Morrow, Mr. Thomas Rowan",male,NaN,0,0,372622,7.7500,NaN,Q
157,158,3,"Corn, Mr. Harry",male,30.0,0,0,SOTON/OQ 392090,8.0500,NaN,S
583,584,1,"Ross, Mr. John Hugo",male,36.0,0,0,13049,40.1250,A10,C
643,644,3,"Foo, Mr. Choong",male,NaN,0,0,1601,56.4958,NaN,S
637,638,2,"Collyer, Mr. Harvey",male,31.0,1,1,C.A. 31921,26.2500,NaN,S
91,92,3,"Andreasson, Mr. Paul Edvin",male,20.0,0,0,347466,7.8542,NaN,S
707,708,1,"Calderhead, Mr. Edward Pennington",male,42.0,0,0,PC 17476,26.2875,E24,S
630,631,1,"Barkworth, Mr. Algernon Henry Wilson",male,80.0,0,0,27042,30.0000,A23,S
323,324,2,"Caldwell, Mrs. Albert Francis (Sylvia Mae Harb...",female,22.0,1,1,248738,29.0000,NaN,S
392,393,3,"Gustafsson, Mr. Johan Birger",male,28.0,2,0,3101277,7.9250,NaN,S
864,865,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,NaN,S

In [113]:
X_train

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
131,132,3,"Coelho, Mr. Domingos Fernandeo",male,20.0,0,0,SOTON/O.Q. 3101307,7.0500,NaN,S
70,71,2,"Jenkin, Mr. Stephen Curnow",male,32.0,0,0,C.A. 33111,10.5000,NaN,S
781,782,1,"Dick, Mrs. Albert Adrian (Vera Gillespie)",female,17.0,1,0,17474,57.0000,B20,S
508,509,3,"Olsen, Mr. Henry Margido",male,28.0,0,0,C 4001,22.5250,NaN,S
116,117,3,"Connors, Mr. Patrick",male,70.5,0,0,370369,7.7500,NaN,Q
858,859,3,"Baclini, Mrs. Solomon (Latifa Qurban)",female,24.0,0,3,2666,19.2583,NaN,C
194,195,1,"Brown, Mrs. James Joseph (Margaret Tobin)",female,44.0,0,0,PC 17610,27.7208,B4,C
692,693,3,"Lam, Mr. Ali",male,NaN,0,0,1601,56.4958,NaN,S
229,230,3,"Lefebre, Miss. Mathilde",female,NaN,3,1,4133,25.4667,NaN,S
739,740,3,"Nankoff, Mr. Minko",male,NaN,0,0,349218,7.8958,NaN,S
146,147,3,"Andersson, Mr. August Edvard (""Wennerstrom"")",male,27.0,0,0,350043,7.7958,NaN,S
524,525,3,"Kassem, Mr. Fared",male,NaN,0,0,2700,7.2292,NaN,C
352,353,3,"Elias, Mr. Tannous",male,15.0,1,1,2695,7.2292,NaN,C
446,447,2,"Mellinger, Miss. Madeleine Violet",female,13.0,0,1,250644,19.5000,NaN,S
188,189,3,"Bourke, Mr. John",male,40.0,1,1,364849,15.5000,NaN,Q
207,208,3,"Albimona, Mr. Nassef Cassem",male,26.0,0,0,2699,18.7875,NaN,C
435,436,1,"Carter, Miss. Lucile Polk",female,14.0,1,2,113760,120.0000,B96 B98,S
213,214,2,"Givard, Mr. Hans Kristensen",male,30.0,0,0,250646,13.0000,NaN,S
351,352,1,"Williams-Lambert, Mr. Fletcher Fellows",male,NaN,0,0,113510,35.0000,C128,S
779,780,1,"Robert, Mrs. Edward Scott (Elisabeth Walton Mc...",female,43.0,0,1,24160,211.3375,B3,S
686,687,3,"Panula, Mr. Jaako Arnold",male,14.0,4,1,3101295,39.6875,NaN,S
868,869,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S
167,168,3,"Skoog, Mrs. William (Anna Bernhardina Karlsson)",female,45.0,1,4,347088,27.9000,NaN,S
437,438,2,"Richards, Mrs. Sidney (Emily Hocking)",female,24.0,2,3,29106,18.7500,NaN,S
240,241,3,"Zabour, Miss. Thamine",female,NaN,1,0,2665,14.4542,NaN,C
28,29,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
612,613,3,"Murphy, Miss. Margaret Jane",female,NaN,1,0,367230,15.5000,NaN,Q
609,610,1,"Shutes, Miss. Elizabeth W",female,40.0,0,0,PC 17582,153.4625,C125,S
681,682,1,"Hassab, Mr. Hammad",male,27.0,0,0,PC 17572,76.7292,D49,C
481,482,2,"Frost, Mr. Anthony Wood ""Archie""",male,NaN,0,0,239854,0.0000,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
841,842,2,"Mudd, Mr. Thomas Charles",male,16.0,0,0,S.O./P.P. 3,10.5000,NaN,S
458,459,2,"Toomey, Miss. Ellen",female,50.0,0,0,F.C.C. 13531,10.5000,NaN,S
871,872,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
79,80,3,"Dowdell, Miss. Elizabeth",female,30.0,0,0,364516,12.4750,NaN,S
705,706,2,"Morley, Mr. Henry Samuel (""Mr Henry Marshall"")",male,39.0,0,0,250655,26.0000,NaN,S
806,807,1,"Andrews, Mr. Thomas Jr",male,39.0,0,0,112050,0.0000,A36,S
136,137,1,"Newsom, Miss. Helen Monypeny",female,19.0,0,2,11752,26.2833,D47,S
148,149,2,"Navratil, Mr. Michel (""Louis M Hoffman"")",male,36.5,0,2,230080,26.0000,F2,S
156,157,3,"Gilnagh, Miss. Katherine ""Katie""",female,16.0,0,0,35851,7.7333,NaN,Q
880,881,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
325,326,1,"Young, Miss. Marie Grice",female,36.0,0,0,PC 17760,135.6333,C32,C
870,871,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,NaN,S
195,196,1,"Lurette, Miss. Elise",female,58.0,0,0,PC 17569,146.5208,B80,C
626,627,2,"Kirkland, Rev. Charles Leonard",male,57.0,0,0,219533,12.3500,NaN,Q
55,56,1,"Woolner, Mr. Hugh",male,NaN,0,0,19947,35.5000,C52,S
139,140,1,"Giglio, Mr. Victor",male,24.0,0,0,PC 17593,79.2000,B86,C
691,692,3,"Karun, Miss. Manca",female,4.0,0,1,349256,13.4167,NaN,C
777,778,3,"Emanuel, Miss. Virginia Ethel",female,5.0,0,0,364516,12.4750,NaN,S
160,161,3,"Cribb, Mr. John Hatfield",male,44.0,0,1,371362,16.1000,NaN,S
560,561,3,"Morrow, Mr. Thomas Rowan",male,NaN,0,0,372622,7.7500,NaN,Q
157,158,3,"Corn, Mr. Harry",male,30.0,0,0,SOTON/OQ 392090,8.0500,NaN,S
583,584,1,"Ross, Mr. John Hugo",male,36.0,0,0,13049,40.1250,A10,C
643,644,3,"Foo, Mr. Choong",male,NaN,0,0,1601,56.4958,NaN,S
637,638,2,"Collyer, Mr. Harvey",male,31.0,1,1,C.A. 31921,26.2500,NaN,S
91,92,3,"Andreasson, Mr. Paul Edvin",male,20.0,0,0,347466,7.8542,NaN,S
707,708,1,"Calderhead, Mr. Edward Pennington",male,42.0,0,0,PC 17476,26.2875,E24,S
630,631,1,"Barkworth, Mr. Algernon Henry Wilson",male,80.0,0,0,27042,30.0000,A23,S
323,324,2,"Caldwell, Mrs. Albert Francis (Sylvia Mae Harb...",female,22.0,1,1,248738,29.0000,NaN,S
392,393,3,"Gustafsson, Mr. Johan Birger",male,28.0,2,0,3101277,7.9250,NaN,S
864,865,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,NaN,S

In [114]:
y_test

708    1
199    0
327    1
516    1
252    0
404    0
452    0
66     1
521    0
726    1
88     1
822    0
324    0
869    1
830    1
172    1
330    1
428    0
76     0
377    0
306    1
621    1
514    0
803    1
342    0
669    1
401    0
399    1
231    0
773    0
      ..
90     0
48     0
489    1
298    1
60     0
140    0
58     1
577    1
761    0
358    1
434    0
286    1
134    0
556    1
701    1
455    1
141    1
485    0
302    0
759    1
110    0
700    1
405    0
153    0
393    1
204    1
137    0
413    0
398    0
11     1
Name: Survived, Length: 179, dtype: int64

#### K-fold

In [115]:
iris = datasets.load_iris()

In [116]:
for train_index,test_index in model_selection.KFold(5).split(pokemon_df):
    print(train_index.shape, test_index.shape)
    print(pokemon_df.loc[train_index,'HP'].mean())
    print(pokemon_df.loc[train_index,'Legendary'].value_counts())

(120,) (31,)
66.10833333333333
False    116
True       4
Name: Legendary, dtype: int64
(121,) (30,)
64.14166666666667
False    116
True       4
Name: Legendary, dtype: int64
(121,) (30,)
64.15833333333333
False    116
True       4
Name: Legendary, dtype: int64
(121,) (30,)
63.675
False    116
True       4
Name: Legendary, dtype: int64
(121,) (30,)
61.78333333333333
False    120
Name: Legendary, dtype: int64

/opt/Anaconda3-5.2.0-Linux-x86_64/lib/python3.6/site-packages/pandas/core/indexing.py:1027: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return getattr(section, self.name)[new_key]

#### Stratified K-Fold

In [117]:
for train_index,test_index in model_selection.StratifiedKFold(5, random_state = 2020).split(pokemon_df, pokemon_df['Legendary']):
    print(train_index.shape, test_index.shape)
    print(pokemon_df.loc[train_index,'HP'].mean())
    print(pokemon_df.loc[train_index,'Legendary'].value_counts())

(120,) (31,)
65.35833333333333
False    116
True       4
Name: Legendary, dtype: int64
(120,) (31,)
63.67226890756302
False    116
True       3
Name: Legendary, dtype: int64
(121,) (30,)
64.2
False    117
True       3
Name: Legendary, dtype: int64
(121,) (30,)
63.083333333333336
False    116
True       4
Name: Legendary, dtype: int64
(122,) (29,)
63.553719008264466
False    119
True       2
Name: Legendary, dtype: int64

/opt/Anaconda3-5.2.0-Linux-x86_64/lib/python3.6/site-packages/sklearn/model_selection/_split.py:605: Warning: The least populated class in y has only 4 members, which is too few. The minimum number of members in any class cannot be less than n_splits=5.
  % (min_groups, self.n_splits)), Warning)
/opt/Anaconda3-5.2.0-Linux-x86_64/lib/python3.6/site-packages/pandas/core/indexing.py:1027: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return getattr(section, self.name)[new_key]

#### Exercise 2.2: Perform crossvalidation with and without stratification on Pclass for titanic dataset. Measure average survivabilty among splits

In [118]:
titanic_df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,NaN,S
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
864,865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,NaN,S
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S
866,867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S
870,871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,NaN,S
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,S
877,878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [119]:
for train_index,test_index in model_selection.KFold(5).split(titanic_df):
    print(train_index.shape, test_index.shape)
    print(titanic_df.loc[train_index,'Survived'].mean())

(712,) (179,)
0.39747191011235955
(713,) (178,)
0.3688639551192146
(713,) (178,)
0.38288920056100983
(713,) (178,)
0.37868162692847124
(713,) (178,)
0.391304347826087

In [120]:
x = 0
folds = 5
for train_index,test_index in model_selection.StratifiedKFold(folds, random_state = 2020).split(titanic_df, titanic_df['Pclass']):
        print(titanic_df.loc[train_index,'Survived'].mean())
        x = x + titanic_df.loc[train_index,'Survived'].mean()
x = x/folds

print('average')
print(x)

0.3853727144866385
0.37868162692847124
0.38288920056100983
0.38429172510518933
0.38795518207282914
average
0.3838380898308276

#### Exercise 2.3: create pipeline from scaler, normalizer, polynomial features, PCA and Linear regression, split sample to train and test, fit the pipeline on train and then predict it on test

##### Preprocess

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,boolean_Sex,is_C_room,is_B_room,is_A_room
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,True,False,False,False
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,False,False,False,False
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,False,False,False,False
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,False,False,False,False
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,True,False,False,False
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q,True,False,False,False
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,True,False,False,False
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S,True,False,False,False
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S,False,False,False,False
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C,False,False,False,False
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S,False,False,False,False
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S,False,False,False,False
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S,True,False,False,False
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S,True,False,False,False
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S,False,False,False,False
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S,False,False,False,False
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q,True,False,False,False
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S,True,False,False,False
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S,False,False,False,False
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C,False,False,False,False
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S,True,False,False,False
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S,True,False,False,False
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q,False,False,False,False
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S,True,False,False,False
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S,False,False,False,False
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S,False,False,False,False
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C,True,False,False,False
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S,True,False,False,False
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q,False,False,False,False
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,NaN,S,True,False,False,False
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S,False,False,False,False
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S,False,False,False,False
864,865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,NaN,S,True,False,False,False
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S,False,False,False,False
866,867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C,False,False,False,False
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S,True,False,False,False
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S,True,False,False,False
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S,True,False,False,False
870,871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,NaN,S,True,False,False,False
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S,False,False,False,False
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S,True,False,False,False
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S,True,False,False,False
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C,False,False,False,False
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C,False,False,False,False
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,S,True,False,False,False
877,878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S,True,False,False,False
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S,True,False,False,False
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C,False,False,False,False
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S,False,False,False,False
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S,True,False,False,False
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S,False,False,False,False
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S,True,False,False,False
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S,True,False,False,False
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q,False,False,False,False
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,True,False,False,False
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,False,False,False,False
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,False,False,False,False
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,True,False,False,False
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,True,False,False,False

##### Create all pipelines

In [245]:
from sklearn.preprocessing import *
from sklearn.decomposition import*
from sklearn.neighbors import*

In [246]:
%store -r pokemon_df
pokemon_df

,Name,Type_1,Type_2,Total,HP,Attack,Defense,Sp_Atk,Sp_Def,Speed,Stage,Legendary,Predicted_Total,HighStage,Predicted_HighStage,Predicted_Sp_Atk,Predicted Attack,Predicted_Speed
#,,,,,,,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,324.106080,0,0,55.128073,54.613327,72.531473
2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,2,False,379.490966,1,1,75.515800,68.283350,77.808734
3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,3,False,458.770366,1,1,99.375597,87.151409,85.183674
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,314.442383,0,0,52.095862,52.372977,69.642845
5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,2,False,375.028057,1,1,73.214095,66.327217,74.761864
6,Charizard,Fire,Flying,534,78,84,78,109,85,100,3,False,454.307457,1,1,97.073893,83.525827,84.910670
7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False,336.068725,0,0,57.759609,64.221564,63.754248
8,Wartortle,Water,NaN,405,59,63,80,65,80,58,2,False,395.528275,1,1,78.284427,78.615176,69.642197
9,Blastoise,Water,NaN,530,79,83,100,85,105,78,3,False,474.807675,1,1,104.309143,98.696074,78.800857
10,Caterpie,Bug,NaN,195,45,30,35,20,20,45,1,False,281.180896,0,0,37.480416,45.310721,41.279790
11,Metapod,Bug,NaN,205,50,20,55,25,25,30,2,False,291.520104,1,1,51.210410,52.790228,35.800976
12,Butterfree,Bug,Flying,395,60,45,50,90,80,70,3,False,340.640447,1,0,88.802960,62.401544,79.815875
13,Weedle,Bug,Poison,195,40,35,30,20,20,50,1,False,277.050072,0,0,36.273761,43.105486,45.234525
14,Kakuna,Bug,Poison,205,45,25,50,25,25,35,2,False,287.389279,1,0,50.003755,50.584994,39.755711
15,Beedrill,Bug,Poison,395,65,90,40,45,80,75,3,False,409.163502,1,1,76.909646,67.965117,77.972357
16,Pidgey,Normal,Flying,251,40,45,40,35,35,56,1,False,302.107694,0,0,44.146790,50.107649,55.274522
17,Pidgeotto,Normal,Flying,349,63,60,55,50,50,71,2,False,373.232906,1,1,64.754158,65.720029,58.383510
18,Pidgeot,Normal,Flying,479,83,80,75,70,70,101,3,False,452.512306,1,1,91.572454,86.814500,65.758451
19,Rattata,Normal,NaN,253,30,56,35,25,35,72,1,False,300.099246,0,0,44.335010,51.293077,59.145297
20,Raticate,Normal,NaN,413,55,81,60,50,70,97,2,False,399.198496,1,1,76.292608,77.303829,71.931412
21,Spearow,Normal,Flying,262,40,60,30,31,31,70,1,False,316.272635,0,0,40.548309,48.186120,58.733273
22,Fearow,Normal,Flying,442,65,90,65,61,61,100,2,False,432.584995,1,1,72.704465,77.979980,70.105575
23,Ekans,Poison,NaN,288,35,60,44,40,54,55,1,False,322.097632,0,0,48.778372,54.577076,67.854955
24,Arbok,Poison,NaN,438,60,85,69,65,79,80,2,False,421.196882,1,1,76.406133,78.162149,77.073630
25,Pikachu,Electric,NaN,320,35,55,40,50,50,90,1,False,310.505681,0,0,57.816125,57.620220,69.236389
26,Raichu,Electric,NaN,485,60,90,55,90,80,110,2,False,415.925359,1,0,81.402165,73.712300,89.743593
27,Sandshrew,Ground,NaN,300,50,75,85,20,30,40,1,False,405.915534,0,1,39.950133,71.587588,42.425127
28,Sandslash,Ground,NaN,450,75,100,110,45,55,65,2,False,505.014784,1,1,67.577894,95.172661,51.643802
29,NidoranªÛ,Poison,NaN,275,55,47,52,40,40,41,1,False,338.360932,0,0,44.926503,55.565656,51.662782
30,Nidorina,Poison,NaN,365,70,62,67,55,55,56,2,False,397.820482,1,1,65.018337,69.716701,57.193987
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122,Mr. Mime,Psychic,Fairy,460,40,45,65,100,120,90,1,False,325.529187,0,0,96.422510,78.264120,99.611269
123,Scyther,Bug,Flying,500,70,110,80,55,80,105,1,False,485.306980,0,1,72.068378,92.943594,74.856030
124,Jynx,Ice,Psychic,455,65,50,35,115,95,95,1,False,341.723103,0,0,80.911310,60.666752,96.207167
125,Electabuzz,Electric,NaN,490,65,83,57,95,85,105,1,False,414.107800,0,1,75.848633,74.759838,89.341268
126,Magmar,Fire,NaN,495,65,95,57,100,85,93,1,False,432.934630,0,1,69.223904,71.160672,93.850760
127,Pinsir,Bug,NaN,500,65,125,100,55,70,85,1,False,520.286673,0,0,61.986734,94.772180,71.697075
128,Tauros,Normal,NaN,490,75,100,95,40,70,110,1,False,490.961889,0,0,75.350030,102.542189,59.065903
129,Magikarp,Water,NaN,200,20,10,55,15,20,80,1,False,232.084845,0,0,55.678900,59.084386,37.544781
130,Gyarados,Water,Flying,540,95,125,79,60,100,81,2,False,544.358852,1,1,79.966950,95.609742,79.913888
131,Lapras,Water,Ice,535,130,85,80,85,95,60,1,False,533.576883,0,0,75.521667,91.958443,65.102502
132,Ditto,Normal,NaN,288,48,48,48,48,48,48,1,False,325.974941,0,0,48.887907,54.377980,60.312397
133,Eevee,Normal,NaN,325,55,55,50,45,65,55,1,False,349.038433,0,0,57.410252,62.857317,64.582986
134,Vaporeon,Water,NaN,525,130,65,60,110,95,65,2,False,483.461638,1,1,86.582513,78.813867,72.676229
135,Jolteon,Electric,NaN,525,65,65,60,110,95,130,2,False,388.678133,1,1,101.624041,81.412197,92.356737
136,Flareon,Fire,NaN,525,65,130,60,95,110,65,2,False,490.656798,1,1,72.234846,73.361449,109.163925
137,Porygon,Normal,NaN,395,65,60,70,85,75,40,1,False,390.202217,0,1,60.996269,65.970697,73.871833
138,Omanyte,Rock,Water,355,35,40,100,90,55,35,1,False,343.183724,0,0,60.544154,68.029289,65.189918
139,Omastar,Rock,Water,495,70,60,125,115,70,55,2,False,449.020540,1,1,84.288300,89.902147,66.576526
140,Kabuto,Rock,Water,355,30,80,90,55,45,55,1,False,389.280190,0,0,49.395389,70.825190,64.651947
141,Kabutops,Rock,Water,495,60,115,105,65,70,80,2,False,501.990907,1,1,72.617968,93.295801,72.615327
142,Aerodactyl,Rock,Flying,515,80,105,65,60,75,130,1,False,477.991649,0,1,75.977256,90.980666,73.960698
143,Snorlax,Normal,NaN,540,160,110,65,65,110,30,1,False,602.492784,0,1,65.420984,90.892300,65.002466
144,Articuno,Ice,Flying,580,90,85,100,95,125,85,1,True,493.985766,0,1,97.660320,105.260313,86.182004
145,Zapdos,Electric,Flying,580,90,90,85,125,90,100,1,True,487.777383,0,1,82.414660,87.329909,87.791020
146,Moltres,Fire,Flying,580,90,100,90,125,85,90,1,True,508.150707,0,1,75.811774,86.295763,87.277021
147,Dratini,Dragon,NaN,300,41,64,45,50,50,50,1,False,338.059349,0,0,45.145523,52.215678,68.442077
148,Dragonair,Dragon,NaN,420,61,84,65,70,70,70,2,False,417.338749,1,1,69.005320,71.083736,75.817017
149,Dragonite,Dragon,Flying,600,91,134,95,100,100,80,3,False,567.635899,1,1,89.359829,94.933000,91.826854
150,Mewtwo,Psychic,NaN,680,106,110,90,154,90,130,1,True,547.171057,0,0,88.279649,93.957588,95.628034
151,Mew,Psychic,NaN,600,100,100,100,100,100,100,1,False,532.101382,0,0,88.074729,103.434933,79.487242

In [247]:
features = ['Total', 'Attack', 'Defense', 'Sp_Def', 'Speed', 'Stage']
target = 'Sp_Atk'

In [251]:
pipe = Pipeline([('scaler', StandardScaler()), \
                 ('normalizer', Normalizer()), \
                 ('polynomial features', PolynomialFeatures()), \
                 ('pca', PCA()), \
                 ('regression', LinearRegression())])

In [261]:
# First way of manual split

X_train, X_test, y_train, y_test = model_selection.train_test_split(
    pokemon_df[features], 
    pokemon_df[target], 
    test_size=0.2, 
    random_state=2020)

In [262]:
# Second way, k-fold split

acc = 0
folds = 5
for train_index,test_index in model_selection.KFold(folds).split(pokemon_df):
    #print(train_index.shape, test_index.shape)
    #print(pokemon_df.loc[train_index,'Sp_Atk'].mean()) 
    
    train_index = train_index[1:]
    test_index = test_index[1:]
    
    X_train = pokemon_df.loc[train_index, features]
    y_train = pokemon_df.loc[train_index, 'Sp_Atk']
    X_test = pokemon_df.loc[test_index, features]
    y_test = pokemon_df.loc[test_index, 'Sp_Atk']
    
    #print(X_test)
    pipeline_estimator = pipe.fit(X = X_train, y = y_train)
    y_pred = pipeline_estimator.predict(X = X_test)
    accuracy = metrics.mean_absolute_error(y_test, y_pred)
    acc = acc + accuracy
    print(accuracy)
    
mean_acc = acc/folds
print(mean_acc)

10.389024682958585
14.132714939544789
11.682059319891938
15.798331676635799
22.39178305789434
14.87878273538509