In [1]:
import pandas as pd

In [2]:
titanic_m_df = pd.read_csv('https://raw.githubusercontent.com/ObozniyMaksym/HS_data/main/titanic_m.csv', index_col=0)

In [3]:
titanic_m_df

     PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
17             1         0       3  ...   7.2500   NaN         S
18             2         1       1  ...  71.2833   C85         C
19             3         1       3  ...   7.9250   NaN         S
20             4         1       1  ...  53.1000  C123         S
21             5         0       3  ...   8.0500   NaN         S
..           ...       ...     ...  ...      ...   ...       ...
903          887         0       2  ...  13.0000   NaN         S
904          888         1       1  ...  30.0000   B42         S
905          889         0       3  ...  23.4500   NaN         S
906          890         1       1  ...  30.0000  C148         C
907          891         0       3  ...   7.7500   NaN         Q

[891 rows x 12 columns]

#### Exercise 4.1: Perform selection query both ways

In [4]:
titanic_m_df.query('Age > 20 and SibSp == 1')

     PassengerId  Survived  Pclass  ...      Fare Cabin  Embarked
17             1         0       3  ...    7.2500   NaN         S
18             2         1       1  ...   71.2833   C85         C
20             4         1       1  ...   53.1000  C123         S
30            14         0       3  ...   31.2750   NaN         S
35            19         0       3  ...   18.0000   NaN         S
..           ...       ...     ...  ...       ...   ...       ...
873          857         1       1  ...  164.8667   NaN         S
878          862         0       2  ...   11.5000   NaN         S
883          867         1       2  ...   13.8583   NaN         C
888          872         1       1  ...   52.5542   D35         S
891          875         1       2  ...   24.0000   NaN         C

[136 rows x 12 columns]

In [ ]:
titanic_m_df.loc[(titanic_m_df.Age > 20) & (titanic_m_df.SibSp == 1)]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
17,1,0,3,harbour.space,harbour.space,22.0,1,0,A/5 21171,7.2500,NaN,S
18,2,1,1,harbour.space,harbour.space,38.0,1,0,PC 17599,71.2833,C85,C
20,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
30,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
35,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
873,857,1,1,"Wick, Mrs. George Dennick (Mary Hitchcock)",female,45.0,1,1,36928,164.8667,NaN,S
878,862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,NaN,S
883,867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C
888,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
891,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C

#### Exercise 4.2: Change age for all male pasengers of titanic to +1 year

In [ ]:
titanic_m_df.loc[(titanic_m_df.Sex == 'male'), 'Age'] +=1

titanic_m_df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
17,1,0,3,harbour.space,harbour.space,22.0,1,0,A/5 21171,7.2500,NaN,S
18,2,1,1,harbour.space,harbour.space,38.0,1,0,PC 17599,71.2833,C85,C
19,3,1,3,dazdranagon,dazdranagon,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
20,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
21,5,0,3,"Allen, Mr. William Henry",male,39.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
903,887,0,2,"Montvila, Rev. Juozas",male,31.0,0,0,211536,13.0000,NaN,S
904,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
905,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
906,890,1,1,"Behr, Mr. Karl Howell",male,30.0,0,0,111369,30.0000,C148,C
907,891,0,3,"Dooley, Mr. Patrick",male,36.0,0,0,370376,7.7500,NaN,Q